// Fonts
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Playfair Display', serif;

// Colors
$color-primary: #cda45e
$color-secondary: #1a1814
$color-background: #0c0b09
$color-white: #ffffff
$color-light-grey: #eeeeee
$color-dark-grey: #1a1a1a
$color-accent-red: #e03a3c
$nav-mobile-background-color: #29261f